/* ===== Header 전체 ===== */
.hdr {
    width: 100%;
    font-family: 'Pretendard', sans-serif;
    color: #fff;
}


.hdr-top {
    background-color: #111;
    /* 진한 배경 */
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hdr-top .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px 20px;
    display: flex;
    justify-content: flex-end;
}

.top-auth {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-auth a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.2s;
}

.top-auth a:hover {
    color: #fff;
}

.divider {
    color: #444;
}


.hdr-main {
    background-color: #1b1d24;
}

.hdr-main .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hdr-main .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


.logo img {
    height: 60px;
    display: block;
}



.hdr-main .right {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navlink {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.25s, transform 0.25s;
    font-weight: 700;
}

.navlink:hover {
    color: #fff;
    transform: translateY(-1px);
}

.navlink.active {
    font-weight: 600;
}


.mypage {
    padding: 6px 14px;
    border-radius: 20px;
    color: #fff !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.3s;
}

.mypage:hover {
    background: #FFCC00;
}

.logout-btn {
    margin-right:10px;
    background: none;
    border: none;
    padding: 0;
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.logout-btn:hover {
    text-decoration: underline;
}